$margin-xxs: 4px;
$margin-xs: 8px;
$margin-s: 16px;
$margin-m: 24px;
$margin-l: 32px;
$margin-xl: 40px;
$margin-xxl: 120px;

$padding-xs: 8px;
$padding-s: 16px;
$padding-m: 24px;
$padding-l: 32px;
$padding-xl: 40px;

$document-margin: 30px;
$document-margin-medium: 40px;
$document-margin-small: 40px;
$site-header-height: 10rem;
$site-footer-height: 10rem;
$site-max-width: 1566px;

$secondary-font: "meno-banner";
$primary-font: "neuzeit-grotesk";
